/*KEZDŐLAP (index.html)*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-size: cover;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 5px;
    background-color: white;
    border:2px solid black;
}

header {
    background-image: url("kepek/kezdohatter.jpg");
    height: 50vh;
    background-size: cover;
    margin: 0px;
    padding: 0%;
}
/*grid-areak: */
main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-areas:
        "h h h"
        "n n n"
        "a a j"
        "f f f";
}

header {
    grid-area: h;
}

article {
    grid-area: a;
}

nav {
    grid-area: n;
}

footer {
    grid-area: f;
}

aside {
    grid-area: j;
}


.cimKezdolap {
    text-align: center;
    background-color:  #a7bef8;
    color: black;
    padding: 1px 5px;
    font-size: 150%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cimKezdolap h1 {
    padding: 10px 0;
    margin: 0;
}

.favicon {
    margin-right: 10px;
    height: 48px;
    width: 48px;/
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    gap: 0px;
}

nav ul li {
    padding: 13px;
    background-color: #a7bef8;
    text-align: center;
    border-right: 2px solid black;
    transition: background-color 0.3s;
    font-size: 16px;
}

nav ul a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    padding: 5px;
    font-weight: bold;
}

nav ul a:hover {
    color: rgb(219, 147, 61);
    font-size: 17px;
}

.articleDiv {
    padding-right: 25px;
    margin-left: 10px;
    max-width: 800px;
    
}
main{
    background-color: #f9f9f9;
}

.figyelemfelhivas h3 {
    font-size: xx-large;
    font-style: normal;
    padding-bottom: 10px;
}

.figyelemfelhivas {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.figyelemfelhivas p {
    font-style: normal;
}

/*kapcsolat (kapcsolat.html)*/

section {
    margin: 80px;
    padding: 80px;
    border: 1px solid #93ccf7;
    border-radius: 8px;
    background-color: #f5f5f5;
}

section h2 {
    color: #0099ff;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    background-color: #71a0d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3d77a3;
}

/*Footer beállítások*/

footer {
    background-color: #a7bef8;
    color: black;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #a7bef8;
}

footer .elerhetoseg {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: black;
}

footer .kontakt {
    margin: 10px 0;
    font-size: 1.2em;
    color: black;
}

footer .kontakt strong {
    color: rgb(219, 147, 61);
}

footer .kontakt a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

footer .kontakt a:hover {
    color: rgb(219, 147, 61);
}

/*SZOLGÁLTATÁSOK (szolgaltatasok.html)*/

.szolgaltatasCim h3 {
    font-size: xx-large;
    font-style: normal;
    padding-bottom: 10px;
}

.szolgaltatasSzoveg p {
    font-style: normal;
}

.szolgaltatasSzoveg {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: large;
}


.szolgaltatasSzoveg {
    border: 2px solid black;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.articleSzolgaltatasDiv {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.szolgaltatasokFelsorolas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.felujitas,
.kialakitas,
.telepites,
.javitas,
.automatizalas {
    transition: transform 0.3s ease;
    font-size: medium
}

.felujitas:hover,
.kialakitas:hover,
.telepites:hover,
.javitas:hover,
.automatizalas:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Páratlan számúság miatt */
.szolgaltatasokFelsorolas>div:last-child {
    grid-column: span 2;
}

.szolgaltatasokFelsorolas>div {
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.csik {
    height: 1.5px; 
    background-color:  #71a0d7;
    width: 10%;
    margin: 8px auto;
}
.referenciak {
    text-align: center;
    margin: 10px;

}

/* REFERENCIÁK (referenciak.html) */

.ReferenciakCim h3 {
    font-size: xx-large;
    font-style: normal;
    padding-bottom: 10px;
    margin: 10px auto;
    text-align: center;
}

.ReferenciaSzoveg {
    
    padding: 1px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: large;
}

.ReferenciaSzoveg p {
    font-style: normal;
    text-align: center;
}